<p id="notice"><%= notice %></p>

<p>
  <strong> Tache ajouter :  </strong>
  <%= @task.name %>
</p>

<p>
  <strong>Fini : </strong>
  <%= @task.status %>
</p>


<%= link_to 'Voir les autres taches', tasks_path %>
